@use super::statics::*;
@use crate::footer;
@use crate::Beep;

@(beeps: &[Beep])

<!doctype html>
<html lang="en">

<head>
  <title>beeps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/@style_css.name" />
</head>

<body>
  <main>
    <h1>Ludeed's beeps</h1>

    <p>Twitter seems to be dying out these days, but the format still has its uses. I decided to build my own, it
      currently has <code>1 user</code>(it will probably stay this way forever)</p>

    @for b in beeps {
    <blockquote>@b.text <br> - @b.timestamp </blockquote>
    }

    <figure>
      <img src="/static/@squirrel_jpg.name" alt="Squirrel!" width="240" height="160" />
      <figcaption>A squirrel</figcaption>
    </figure>

  </main>
  @:footer()
</body>

</html>